@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131717;
  color: white;
}

.hide-scroll {
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
